{{#section 'css'}}
<link rel="stylesheet" href="/public/css/product_detail.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btnMinus').click(function () {
            var count = parseInt($('#txtCount').val());
            if (count > 1)
                $('#txtCount').val(--count);
        })

        $('#btnPlus').click(function () {
            var count = parseInt($('#txtCount').val());
            $('#txtCount').val(++count);
        })

    });
</script>
{{/section}}


<div class="container">
    <div class="row mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: transparent; font-size: 20px;">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/product/list/byCat?id={{product.category_id}}">{{product.category_name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: rgb(46, 45, 45);">{{product.name}}
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="detail_block">
            <div class="detail_block_img col-4">
                <img src="{{product.image_url}}" alt="">
                <i class="bi bi-heart"></i>
            </div>
            <div class="detail_block_content col-8">
                <h3 class="name">{{product.name}}</h3>
                <div class="price_block">
                    <span class="price">{{format_price product.selling_price}}</span>
                    {{!-- <span class="old_price">120.000 đ</span> --}}
                </div>
                <div class="info_block">
                    <p>Stock</p>
                    <div class="info_block_value stock_status">
                        <i class="bi bi-check"></i>
                        available
                    </div>
                </div>
                <div class="info_block">
                    <div class="abstract">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia expedita adipisci soluta sint,
                        in nisi deleniti, reiciendis fugit laudantium deserunt distinctio voluptatem labore eos nesciunt
                        ratione alias earum id fuga.
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="info_block">
                            <p>Catergory</p>
                            <div class="info_block_value ">{{product.category_name}}</div>
                        </div>
                        <div class="info_block">
                            <p>Origin</p>
                            <div class="info_block_value ">Empty</div>
                        </div>

                        <div class="info_block">
                            <p>Quantity</p>
                            {{!-- <div class="info_block_value quantity_block d-flex">
                                <button id="btnMinus">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <input id="txtCount" type="text" value="1" readonly>
                                <button id="btnPlus">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div> --}}
                            <div class="info_block_value quantity_block">
                                <button class="can-hover" id="btnMinus">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <input id="txtCount" type="text" value="1" readonly>
                                <button class="can-hover" id="btnPlus">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="action_block">
                            <button class="add_to_cart">Add to cart</button>
                            <button class="buy_now ml-3">Buy now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="shop_block">
            <img src="/public/images/products/nhoDaLat.png" alt="">
            <div class="">
                <div class="shop_name">Lavender</div>
                <button class="shop_go can-hover">View shop</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="long_descript" style="width: 100%;">
            <h3>Detail Description</h3>
            <p class="col-9">
                {{product.description}}
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa repellat sit voluptates repudiandae iusto ad maiores optio quam voluptatum totam. Odit dignissimos magnam eum nostrum at, alias temporibus dicta culpa.
            </p>
        </div>
    </div>
</div>