{{#section 'css'}}
<link rel="stylesheet" href="/public/css/product_list.css">
{{/section}}

{{#section 'js'}}
{{/section}}


<div class="container mt-3">
    <div class="row">
        <div class="col-3 ">
            <div class="card category_block">
                <div class="card-header">
                    Category
                </div>
                <ul class="list-group list-group-flush">
                    {{#each categories}}
                    <li class="list-group-item ">
                        <a href="/product/list/byCat?id={{category_id}}"
                            style="color: black; text-transform: capitalize;">
                            <i class="bi bi-arrow-right-circle mr-2"></i>
                            {{category_name}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="card filter_block">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item ">
                            50000-10000
                        </li>
                        <li class="list-group-item ">
                            100000-200000
                        </li>
                        <li class="list-group-item ">
                            200000-500000
                        </li>
                    </ul>
                    <hr>
                    <div class="input_price">
                        <label for="txtPriceMin">Min</label>
                        <input type="text" class="form-control" name="price_min" id="txtPriceMin" placeholder="">
                    </div>
                    <div class="input_price">
                        <label for="txtPriceMax">Max</label>
                        <input type="text" class="form-control" name="price_min" id="txtPriceMax" placeholder="">
                    </div>
                </div>
            </div>

            <div class="card origin_block">
                <div class="card-header">
                    Origin
                </div>
                <div class="card-body">

                    <select name="" id="">
                        <option value="">Dong Thap</option>
                        <option value="">Kien Giang</option>
                        <option value="">Dong Nai</option>
                    </select>

                    <ul class="list-group list-group-flush mt-3">
                        <li class="list-group-item ">
                            America
                        </li>
                        <li class="list-group-item ">
                            Da Lat
                        </li>
                        <li class="list-group-item ">
                            Ha Noi
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-9">
            <div class="product_list">
                {{#each products}}
                <div class="col-4">
                    {{!-- <div class="suggest_block_item suggest_block_item--discount"> --}}
                        <div class="suggest_block_item">
                            <img src="{{image_url}}" alt="">
                            <h5 class="mt-2 mb-3">{{name}}</h5>
                            <div class="row">
                                <p class="price">{{format_price selling_price}}</p>
                                <p class="price_old">60.000đ</p>
                            </div>
                            <div class="row">
                                <form action="/cart/add" id="addToCartForm_{{product_id}}" method="post"
                                    style="display: none;">
                                    <input type="hidden" name="product_id" value="{{product_id}}">
                                </form>

                                <button type="button" class="btn-add btnAddToCart can-hover mr-3"
                                    data-form-id="addToCartForm_{{product_id}}">
                                    <img src="/public/images/icons8-cart-24 (2).png" alt="" id="imgCart">
                                </button>
                                <button type="button" class="btnViewDetail can-hover">
                                    <a href="/product/detail?id={{product_id}}"
                                        style="text-decoration: none;color: #37A058;">
                                        View detail
                                    </a>
                                </button>
                            </div>
                            <div class="suggest_item_discount">20%</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>